<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/post.css')}}">
    </head>
    <body>

        <div class="blog-header">
            <a href="/home"> <h1> Shawn-Patrick Barhorst</h1> </a>
            <div class="nav-link">
                <a href="https://github.com/ShawnPatrick-Barhorst"> <h1>Github</h1> </a>
                <a href="https://www.linkedin.com/in/shawn-patrick-barhorst/"> <h1> LinkedIn </h1> </a>
                <a href="/about"> <h1> About </h1> </a>
            </div>
        </div>

        <div class="blog-post" markdown="1">

            <h1>Street Fighter II - Reinforcement Learning Agent</h1>
            <p>
                Reinforcement learning is by no means a new topic, with algorithms such as Q-Learning being introduced in
                1989
            </p>

            <pre>

                #Markdown
                
            </pre>
        </div>

        <script src="" async defer></script>
    </body>
</html>