
.blog-post {
    margin: 10px auto;
    max-width: 650px;
    line-height: 1.6;
    padding: 10px;
    font-size: 18px;
    color: #444;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}

.blog-post p {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}

.blog-post img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}



.blog-header {
    display: block;
    background-color: #eaeaea;
    border-radius: 0 0 0 0;
    overflow: hidden;
    margin-bottom: 50px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.blog-header h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.blog-header a {
    display: inline-block;
    color: inherit;
    outline: none;
    text-decoration: none;

}

.blog-body {
    display: block;
    background-color: #eaeaea;
    border-radius: 0 0 0 0;
    overflow: hidden;
    margin-bottom: 50px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link{
    display: flex;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
    padding-bottom: 0px;
}

.nav-link h1{
    font-size: 15px;
    padding-bottom: 10px;

}


.nav-link a{
    height: 100%;
    display: inline-block;
    color: inherit;
    outline: none;
    text-decoration: none;
    padding-right: 10px;
    margin: 0;
}

.nav-link a:hover{
    background-color: #747474;
}
